extends ../layout

block content
  main(
    data-react-class="SurveysApp"
  )

block pagescript
  script(type="text/javascript").
    window.__INITIAL_STATE__ = {
      team: !{JSON.stringify(team)},
      surveys: !{JSON.stringify(surveys)},
      questions: !{JSON.stringify(questions)},
      answers: !{JSON.stringify(answers)}
    }
