extends layout

block content
  h2 Good!
  p Now associate themes with selected channels.

  form(id="channels-themes" method="post")
    ul
      each channel in channels
        li ##{channel.name}
          br
          each userTheme in channel.themes
            - var checked = userTheme.status === 'subscribed'
            input(type="checkbox" id=userTheme.id value=userTheme.id checked=checked)
            label(for=userTheme.id)= userTheme.Theme.name
            br

    input(type="submit")
